In [13]:
import pandas as pd

dataset = pd.read_csv(r'C:\Users\user\Desktop\Advanced-Python-workshop\Advanced-Python-Day-02-main\student-marks.csv')

In [14]:
print(dataset)

        Name  Maths  Physics  Chemistry
0       John     45       22         98
1    William     44       23          2
2      Henry     22       89         35
3      Chris     88       55         23
4       Jack     45       89         45
5   Stephane     64       45         48
6     Harald     12       12         12
7     Hearmy     78       94         65
8     Sinsel     98       95         23
9     George     45       65         89
10     James     64       32         26
11      Jade     23       78         47
12     Tommy     45       98         14
13     Yonus     78       45         44
14     Randy     95       12         84
15       Rex     31       95         98
16    Tucsan     77       32         56
17     Amell     87       78         34
18       Vin     65       45         78
19    Hector     32       12         78

In [15]:
dataset = pd.read_csv(r'C:\Users\user\Desktop\Advanced-Python-workshop\Advanced-Python-Day-02-main\student-marks.csv').values
print(dataset)

[['John' 45 22 98]
 ['William' 44 23 2]
 ['Henry' 22 89 35]
 ['Chris' 88 55 23]
 ['Jack' 45 89 45]
 ['Stephane' 64 45 48]
 ['Harald' 12 12 12]
 ['Hearmy' 78 94 65]
 ['Sinsel' 98 95 23]
 ['George' 45 65 89]
 ['James' 64 32 26]
 ['Jade' 23 78 47]
 ['Tommy' 45 98 14]
 ['Yonus' 78 45 44]
 ['Randy' 95 12 84]
 ['Rex' 31 95 98]
 ['Tucsan' 77 32 56]
 ['Amell' 87 78 34]
 ['Vin' 65 45 78]
 ['Hector' 32 12 78]]

In [16]:
import numpy as np

avg = np.mean(dataset[:,1:],axis=1)
print(avg)

[55.0 23.0 48.666666666666664 55.333333333333336 59.666666666666664
 52.333333333333336 12.0 79.0 72.0 66.33333333333333 40.666666666666664
 49.333333333333336 52.333333333333336 55.666666666666664
 63.666666666666664 74.66666666666667 55.0 66.33333333333333
 62.666666666666664 40.666666666666664]

In [17]:
def findGrade(mark): 
    if(mark>0 and mark<35 ):
        grade = "F"
    elif(mark>=35 and mark<45 ):
        grade = "S"
    elif(mark>=45 and mark<65 ):
        grade = "C"
    elif(mark>=65 and mark<75 ):
        grade = "B"
    elif(mark>=75 and mark<=100 ):
        grade = "A"
    return grade

In [18]:
mathsGrades=np.array([findGrade(i) for i in dataset[:,1]])
print(mathsGrades)
mathsGrades=mathsGrades.reshape(-1,1)
print(mathsGrades)

['C' 'S' 'F' 'A' 'C' 'C' 'F' 'A' 'A' 'C' 'C' 'F' 'C' 'A' 'A' 'F' 'A' 'A'
 'B' 'F']
[['C']
 ['S']
 ['F']
 ['A']
 ['C']
 ['C']
 ['F']
 ['A']
 ['A']
 ['C']
 ['C']
 ['F']
 ['C']
 ['A']
 ['A']
 ['F']
 ['A']
 ['A']
 ['B']
 ['F']]

In [19]:
phyGrades=np.array([findGrade(i) for i in dataset[:,2]])
print(phyGrades)
phyGrades=phyGrades.reshape(-1,1)
print(phyGrades)

['F' 'F' 'A' 'C' 'A' 'C' 'F' 'A' 'A' 'B' 'F' 'A' 'A' 'C' 'F' 'A' 'F' 'A'
 'C' 'F']
[['F']
 ['F']
 ['A']
 ['C']
 ['A']
 ['C']
 ['F']
 ['A']
 ['A']
 ['B']
 ['F']
 ['A']
 ['A']
 ['C']
 ['F']
 ['A']
 ['F']
 ['A']
 ['C']
 ['F']]

In [21]:
chemGrades=np.array([findGrade(i) for i in dataset[:,3]])
print(chemGrades)
chemGrades=chemGrades.reshape(-1,1)

['A' 'F' 'S' 'F' 'C' 'C' 'F' 'B' 'F' 'A' 'F' 'C' 'F' 'S' 'A' 'A' 'C' 'F'
 'A' 'A']

In [23]:
avg = avg.reshape(-1,1)
print(avg)

[[55.0]
 [23.0]
 [48.666666666666664]
 [55.333333333333336]
 [59.666666666666664]
 [52.333333333333336]
 [12.0]
 [79.0]
 [72.0]
 [66.33333333333333]
 [40.666666666666664]
 [49.333333333333336]
 [52.333333333333336]
 [55.666666666666664]
 [63.666666666666664]
 [74.66666666666667]
 [55.0]
 [66.33333333333333]
 [62.666666666666664]
 [40.666666666666664]]

In [24]:
dataset=np.append(dataset, mathsGrades, axis=1)
print(dataset)

[['John' 45 22 98 'C']
 ['William' 44 23 2 'S']
 ['Henry' 22 89 35 'F']
 ['Chris' 88 55 23 'A']
 ['Jack' 45 89 45 'C']
 ['Stephane' 64 45 48 'C']
 ['Harald' 12 12 12 'F']
 ['Hearmy' 78 94 65 'A']
 ['Sinsel' 98 95 23 'A']
 ['George' 45 65 89 'C']
 ['James' 64 32 26 'C']
 ['Jade' 23 78 47 'F']
 ['Tommy' 45 98 14 'C']
 ['Yonus' 78 45 44 'A']
 ['Randy' 95 12 84 'A']
 ['Rex' 31 95 98 'F']
 ['Tucsan' 77 32 56 'A']
 ['Amell' 87 78 34 'A']
 ['Vin' 65 45 78 'B']
 ['Hector' 32 12 78 'F']]

In [25]:
dataset=np.append(dataset, phyGrades, axis=1)
print(dataset)

[['John' 45 22 98 'C' 'F']
 ['William' 44 23 2 'S' 'F']
 ['Henry' 22 89 35 'F' 'A']
 ['Chris' 88 55 23 'A' 'C']
 ['Jack' 45 89 45 'C' 'A']
 ['Stephane' 64 45 48 'C' 'C']
 ['Harald' 12 12 12 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A']
 ['Sinsel' 98 95 23 'A' 'A']
 ['George' 45 65 89 'C' 'B']
 ['James' 64 32 26 'C' 'F']
 ['Jade' 23 78 47 'F' 'A']
 ['Tommy' 45 98 14 'C' 'A']
 ['Yonus' 78 45 44 'A' 'C']
 ['Randy' 95 12 84 'A' 'F']
 ['Rex' 31 95 98 'F' 'A']
 ['Tucsan' 77 32 56 'A' 'F']
 ['Amell' 87 78 34 'A' 'A']
 ['Vin' 65 45 78 'B' 'C']
 ['Hector' 32 12 78 'F' 'F']]

In [26]:
dataset=np.append(dataset, chemGrades, axis=1)
print(dataset)

[['John' 45 22 98 'C' 'F' 'A']
 ['William' 44 23 2 'S' 'F' 'F']
 ['Henry' 22 89 35 'F' 'A' 'S']
 ['Chris' 88 55 23 'A' 'C' 'F']
 ['Jack' 45 89 45 'C' 'A' 'C']
 ['Stephane' 64 45 48 'C' 'C' 'C']
 ['Harald' 12 12 12 'F' 'F' 'F']
 ['Hearmy' 78 94 65 'A' 'A' 'B']
 ['Sinsel' 98 95 23 'A' 'A' 'F']
 ['George' 45 65 89 'C' 'B' 'A']
 ['James' 64 32 26 'C' 'F' 'F']
 ['Jade' 23 78 47 'F' 'A' 'C']
 ['Tommy' 45 98 14 'C' 'A' 'F']
 ['Yonus' 78 45 44 'A' 'C' 'S']
 ['Randy' 95 12 84 'A' 'F' 'A']
 ['Rex' 31 95 98 'F' 'A' 'A']
 ['Tucsan' 77 32 56 'A' 'F' 'C']
 ['Amell' 87 78 34 'A' 'A' 'F']
 ['Vin' 65 45 78 'B' 'C' 'A']
 ['Hector' 32 12 78 'F' 'F' 'A']]

In [27]:
dataset=np.append(dataset, avg, axis=1)
print(dataset)

[['John' 45 22 98 'C' 'F' 'A' 55.0]
 ['William' 44 23 2 'S' 'F' 'F' 23.0]
 ['Henry' 22 89 35 'F' 'A' 'S' 48.666666666666664]
 ['Chris' 88 55 23 'A' 'C' 'F' 55.333333333333336]
 ['Jack' 45 89 45 'C' 'A' 'C' 59.666666666666664]
 ['Stephane' 64 45 48 'C' 'C' 'C' 52.333333333333336]
 ['Harald' 12 12 12 'F' 'F' 'F' 12.0]
 ['Hearmy' 78 94 65 'A' 'A' 'B' 79.0]
 ['Sinsel' 98 95 23 'A' 'A' 'F' 72.0]
 ['George' 45 65 89 'C' 'B' 'A' 66.33333333333333]
 ['James' 64 32 26 'C' 'F' 'F' 40.666666666666664]
 ['Jade' 23 78 47 'F' 'A' 'C' 49.333333333333336]
 ['Tommy' 45 98 14 'C' 'A' 'F' 52.333333333333336]
 ['Yonus' 78 45 44 'A' 'C' 'S' 55.666666666666664]
 ['Randy' 95 12 84 'A' 'F' 'A' 63.666666666666664]
 ['Rex' 31 95 98 'F' 'A' 'A' 74.66666666666667]
 ['Tucsan' 77 32 56 'A' 'F' 'C' 55.0]
 ['Amell' 87 78 34 'A' 'A' 'F' 66.33333333333333]
 ['Vin' 65 45 78 'B' 'C' 'A' 62.666666666666664]
 ['Hector' 32 12 78 'F' 'F' 'A' 40.666666666666664]]

In [28]:
np.save('new-dataset', dataset)

In [29]:
np.savetxt('dataset-new.csv', dataset, delimiter=",")

TypeError: Mismatch between array dtype ('object') and format specifier ('%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e,%.18e')

In [30]:
df=pd.DataFrame(data=dataset)
print(df)

           0   1   2   3  4  5  6        7
0       John  45  22  98  C  F  A       55
1    William  44  23   2  S  F  F       23
2      Henry  22  89  35  F  A  S  48.6667
3      Chris  88  55  23  A  C  F  55.3333
4       Jack  45  89  45  C  A  C  59.6667
5   Stephane  64  45  48  C  C  C  52.3333
6     Harald  12  12  12  F  F  F       12
7     Hearmy  78  94  65  A  A  B       79
8     Sinsel  98  95  23  A  A  F       72
9     George  45  65  89  C  B  A  66.3333
10     James  64  32  26  C  F  F  40.6667
11      Jade  23  78  47  F  A  C  49.3333
12     Tommy  45  98  14  C  A  F  52.3333
13     Yonus  78  45  44  A  C  S  55.6667
14     Randy  95  12  84  A  F  A  63.6667
15       Rex  31  95  98  F  A  A  74.6667
16    Tucsan  77  32  56  A  F  C       55
17     Amell  87  78  34  A  A  F  66.3333
18       Vin  65  45  78  B  C  A  62.6667
19    Hector  32  12  78  F  F  A  40.6667

In [31]:
df=pd.DataFrame(data=dataset, columns=["name", "Maths", "Physics", "Chemistry", "m-grade", "p-grade", "c-grade", "Grade"])
print(df)

        name Maths Physics Chemistry m-grade p-grade c-grade    Grade
0       John    45      22        98       C       F       A       55
1    William    44      23         2       S       F       F       23
2      Henry    22      89        35       F       A       S  48.6667
3      Chris    88      55        23       A       C       F  55.3333
4       Jack    45      89        45       C       A       C  59.6667
5   Stephane    64      45        48       C       C       C  52.3333
6     Harald    12      12        12       F       F       F       12
7     Hearmy    78      94        65       A       A       B       79
8     Sinsel    98      95        23       A       A       F       72
9     George    45      65        89       C       B       A  66.3333
10     James    64      32        26       C       F       F  40.6667
11      Jade    23      78        47       F       A       C  49.3333
12     Tommy    45      98        14       C       A       F  52.3333
13     Yonus    78      45        44       A       C       S  55.6667
14     Randy    95      12        84       A       F       A  63.6667
15       Rex    31      95        98       F       A       A  74.6667
16    Tucsan    77      32        56       A       F       C       55
17     Amell    87      78        34       A       A       F  66.3333
18       Vin    65      45        78       B       C       A  62.6667
19    Hector    32      12        78       F       F       A  40.6667

In [ ]:
df.to_csv('new-dataset.csv', index=False)